.blueButton {
  --mainBackgroundColor: rgba(30, 143, 255, 0.7);
  --mainBorderColor: dodgerblue;
  --activeButton: rgba(30, 143, 255, 1);
}

.redButton {
  --mainBackgroundColor: rgba(255, 85, 85, 0.8);
  --mainBorderColor: rgba(255, 85, 85, 0.9);
  --activeButton: rgba(255, 85, 85, 1);
}

.greenButton {
  --mainBackgroundColor: rgba(34, 197, 94, 0.8);
  --mainBorderColor: rgba(34, 197, 94, 0.9);
  --activeButton: rgba(34, 197, 94, 1);
}

.button {
  background-color: var(--mainBackgroundColor);
  border: 2px solid var(--mainBorderColor);
  backdrop-filter: blur(5px);
  border-radius: 10px;
  transition: border-radius 200ms ease-in-out;
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
}
.button:hover {
  border-radius: 5px;
}
.button:active {
  background-color: var(--activeButton);
}
.text {
  color: white;
  font-weight: 500;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial,
    "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.textBigger {
  font-size: 1.5rem;
  line-height: 2rem;
}
.textStandard {
  font-size: 1.2rem;
  line-height: 1.5rem;
}
/* .textSmall {
  font-size: 0.5rem;
  line-height: 0.8rem;
} */
.smallButton {
  background-color: var(--mainBackgroundColor);
  border: 1px solid var(--mainBorderColor);
  backdrop-filter: blur(5px);
  border-radius: 7px;
  transition: border-radius 200ms ease-in-out;
  padding: 0.5px;
  padding-left: 6px;
  padding-right: 6px;
}
.smallButton:hover {
  border-radius: 4px;
}
.smallButton:active {
  background-color: var(--activeButton);
}
.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

[content]::after {
  content: attr(content);
}

.addedSource {
  position: absolute;
  top: 70px;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: rgba(20, 20, 20, 0.9);
  padding: 4px 10px;
  border-radius: 10px;

  -webkit-transition: opacity 1s ease-out;
  -moz-transition: opacity 1s ease-out;
  -ms-transition: opacity 1s ease-out;
  -o-transition: opacity 1s ease-out;
  transition: opacity 1s ease-out;
  opacity: 1;
}

.addedSource.hide {
  opacity: 0;
}

.displayNone {
  display: none;
}
