.containerDIV {
  font-size: 1rem;
  float: left;
  margin-left: 7pt;
  margin-bottom: 7pt;
  margin-right: 7pt;
}
.sources {
  font-family: "Times New Roman", Times, serif;
  color: white;
  align-items: flex-start;
}
body {
  background-color: rgb(44, 44, 44);
  background-size: stretch;
  margin: 0px;
  padding: 0;
  height: 100%;
}
